[Unit]
Description=FrogNet Gateway IP Fixup (eth0)
Before=network.target frognet-transit-boot.service
After=sys-subsystem-net-devices-eth0.device
Wants=sys-subsystem-net-devices-eth0.device

[Service]
Type=oneshot
ExecStart=/usr/local/bin/frognet_eth0_fixup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
