################################################################
#  Copyright (C) 2016-2026 Fawcett Innovations LLC             #
#                                                              #
#  SPDX-License-Identifier: GPL-2.0-only                       #
#                                                              #
#  This program is free software; you can redistribute it      #
#  and/or modify it under the terms of the GNU General Public  #
#  License as published by the Free Software Foundation;       #
#  version 2 of the License, and no other version.             #
#                                                              #
#  This program is distributed in the hope that it will be     #
#  useful, but WITHOUT ANY WARRANTY; without even the implied  #
#  warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR     #
#  PURPOSE.  See the GNU General Public License for details.   #
#                                                              #
#  See COPYRIGHT and LICENSE at the root of this tree.         #
################################################################
[Unit]
Description=FrogNet Semantic Proxy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/frognet_semantic
Environment=FROGNET_LOG_LEVEL=INFO
Environment=FROGNET_SEMANTIC=1
Environment=FROGNET_TELEMETRY=ON
Environment=FROGNET_TELEMETRY_INTERVAL=60.0
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart=/usr/bin/python3 -m proxy.proxy_main --listen 0.0.0.0:80
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
